.animation {
  animation-delay: 0;
  animation-duration: 1s;
  animation-direction: forwards;
  animation-timing-function: ease-out;
  animation-play-state: running;
  will-change: animation;
  backface-visibility: hidden;
}

.animation--fadeIn { animation-name: fadeIn; }
.animation--fadeInDown { animation-name: fadeInDown; }

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeInDown {
  0% { opacity: 0; transform: translateY(-2rem) }
  100% { opacity: 1; transform: none; }
}
