%button {
  display: inline-block;
  border: 3px solid map-get($colors, secondary);
  color: map-get($colors, secondary);
  font-family: $font-stack;
  padding: 0.75rem 1.25rem;
  font-size: 1.2rem;
  text-decoration: none;
  transition: 0.3s all ease-out;
}

button,
.button {
  @extend %button;

  &:hover {
    border-color: map-get($colors, primary);
    color: map-get($colors, primary);
  }

}

.button-- {
  &primary {
    border-color: map-get($colors, primary);
    color: map-get($colors, primary);
  }
  &large {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin: 0.5rem 0;
  }
}
