.icon-- {

  &scroll {
    display: inline-block;
    text-align: center;

    &__mouse {
      position: relative;
      display: block;
      width: 35px;
      height: 55px;
      margin: 0 auto 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border: 3px solid map-get($colors, primary);
      border-radius: 23px;
      & > * {
        position: absolute;
        display: block;
        top: 29%;
        left: 50%;
        width: 8px;
        height: 8px;
        margin: -4px 0 0 -4px;
        background: map-get($colors, primary);
        border-radius: 50%;
      }
    }
  }
  
  &lock:before {
    content: "\e900";
  }
  &mail:before {
    content: "\e901";
  }
  &pin:before {
    content: "\e902";
  }
  &arrow-down:before {
    content: "\e903";
  }
  &arrow-left:before {
    content: "\e904";
  }
  &arrow-right:before {
    content: "\e905";
  }
  &arrow-up:before {
    content: "\e906";
  }
  &chevron-down:before {
    content: "\e907";
  }
  &chevron-left:before {
    content: "\e908";
  }
  &chevron-right:before {
    content: "\e909";
  }
  &chevron-up:before {
    content: "\e90a";
  }
  &code-download:before {
    content: "\e90b";
  }
  &code-working:before {
    content: "\e90c";
  }
  &document-text:before {
    content: "\e90d";
  }
  &document:before {
    content: "\e90e";
  }
  &edit:before {
    content: "\e90f";
  }
  &email:before {
    content: "\e910";
  }
  &ios-calendar:before {
    content: "\e911";
  }
  &ios-checkmark:before {
    content: "\e912";
  }
  &ios-download:before {
    content: "\e913";
  }
  &social-android:before {
    content: "\e914";
  }
  &social-angular:before {
    content: "\e915";
  }
  &social-apple:before {
    content: "\e916";
  }
  &social-chrome:before {
    content: "\e917";
  }
  &social-codepen:before {
    content: "\e918";
  }
  &social-css3:before {
    content: "\e919";
  }
  &social-dribbble:before {
    content: "\e91a";
  }
  &social-facebook:before {
    content: "\e91b";
  }
  &social-github:before {
    content: "\e91c";
  }
  &social-html5:before {
    content: "\e91d";
  }
  &social-instagram:before {
    content: "\e91e";
  }
  &social-linkedin:before {
    content: "\e91f";
  }
  &social-nodejs:before {
    content: "\e920";
  }
  &social-octocat:before {
    content: "\e921";
  }
  &social-sass:before {
    content: "\e922";
  }
  &social-twitter:before {
    content: "\e923";
  }
  &social-wordpress:before {
    content: "\e924";
  }
  &navicon:before {
    content: "\e925";
  }
}


[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}