@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  src: url("fonts/ProximaNova-Regular.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  src: url("fonts/ProximaNova-Bold.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/ProximaNova-RegularItalic.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  src: url("fonts/ProximaNova-Black.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url("fonts/ProximaNova-Light.otf") format("otf");
}

body,
.sans-serif {
  font-family: $font-stack;
}