// Font Face Declarations
@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  src: url("fonts/ProximaNova-Regular.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: bold;
  src: url("fonts/ProximaNova-Bold.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/ProximaNova-RegularItalic.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 800;
  src: url("fonts/ProximaNova-Black.otf") format("otf");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  src: url("fonts/ProximaNova-Light.otf") format("otf");
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icons/icomoon.eot?u2ghr8');
  src:  url('fonts/icons/icomoon.eot?u2ghr8#iefix') format('embedded-opentype'),
    url('fonts/icons/icomoon.ttf?u2ghr8') format('truetype'),
    url('fonts/icons/icomoon.woff?u2ghr8') format('woff'),
    url('fonts/icons/icomoon.svg?u2ghr8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Base Type Styling
body,
.sans-serif {
  font-family: $font-stack;
  font-size: 1.2rem;
  line-height: 1.5;
}

h2,
.subheading {
  font-weight: 300;
  font-size: 1rem;
}

%a {
  color: map-get($colors, secondary);
  text-decoration: none;
  transition: 0.3s color linear;
}

a  {
  @extend %a;
  
  &:visited,
  &:focus,
  &:active {
    @extend %a;
  }

  :hover {
    color: map-get($colors, tertiary);
  }
}

@each $breakpoint in $breakpoints {
  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);
  $font-size: nth($breakpoint, 4);

  @media only screen and (min-width: $size) {

    body,
    .sans-serif {
      font-size: $font-size;
    }

    h2,
    .subheading {
      font-size: $font-size*1.2;
    }

  }

} // each
