$colors: (
  primary: #405A7B,
  secondary: #2B303B,
  tertiary: #45678E
);

$break_large: 75em;

$breakpoints:
  sm 48em 46rem 1rem,
  md 62em 61rem 1.2rem,
  lg $break_large 71rem 1.4rem;

$font-stack: 'proxima-nova', Helvetica, sans-serif;

%box-shadow {
  box-shadow: 1px 4px 8px rgba(0,0,0,0.4);
}

$easeOutSmooth: cubic-bezier(0.130, 0.330, 0.075, 0.985);