/**
 * Section:    Hero Unit
 * @author     Robin Bastien
 * @copyright  MIT
 */

.hero-unit {
  min-height: 100vh;
  color: white;
  @include radial-gradient(#1D2133, #141623);
}

.hero-unit a,
.hero-unit a:link,
.hero-unit a:visited {
  color: white;
  text-decoration: none;
  transition: 0.3s color linear;
}

.hero-unit a:hover {
  color: #8290BB;
}

.hero-unit-- {

  &tagline {
    animation: fadeIn 0.8s opacity ease-out;
    animation-delay: 0.75s;
  }

  &subheading {
    margin-top: 0;
    color: white;
    font-weight: 300;
  }

  &descriptor {
    animation-delay: 2s;
  }

}

#path-1 {
  animation: slideDown 2s forwards ease-out;
  animation-delay: 1s;
  transform: translateY(-18rem);
  will-change: transform;
  backface-visibility: hidden;

}
#hero-unit-mask,
#mask-2 {
  mask-type: luminance;
}
