/**
 * Section:    Hero Unit
 * @author     Robin Bastien
 * @copyright  MIT
 */

.hero-unit {
  min-height: 100vh;
  @include linear-gradient(to top right, #D0D2D4 0%, #C8CBCE 49.99%, #D0D2D4 50%, #E0E0E0 100%);
}

.hero-unit-- {

  &tagline {
    animation: fadeIn 0.8s opacity ease-out;
    animation-delay: 0.75s;
  }

  &subheading {
    margin-top: 0;
  }

  &descriptor {
    animation-delay: 2s;
  }
}

#path-1 {
  animation: slideDown 2s forwards ease-out;
  animation-delay: 1s;
  transform: translateY(-18rem);
  will-change: transform;
  backface-visibility: hidden;

}
#hero-unit-mask,
#mask-2 {
  mask-type: luminance;
}
