{% include header.html %}

    <main class="page-content" aria-label="Content">

      <section class="hero-unit">
        
        <ul class="site-header__social">
          <li class="site-header__social__item">
            <a class="site-header__social__link" href="https://github.com/robinbastien/" target="_blank"><i class="icon icon--social-github"></i></a>
          </li>
          <li class="site-header__social__item">
            <a class="site-header__social__link" href="https://www.linkedin.com/in/robinbastien/" target="_blank"><i class="icon icon--social-linkedin"></i></a>
          </li>
          <li class="site-header__social__item">
            <a class="site-header__social__link" href="https://twitter.com/robinbastien" target="_blank"><i class="icon icon--social-twitter"></i></a>
          </li>
          <li class="site-header__social__item">
            <a class="site-header__social__link" href="mailto:info@robinbastien.com"><i class="icon icon--mail"></i></a>
          </li>
        </ul>

        <div class="wrapper center-xs middle-xs">

          <div class="row center-xs middle-xs screen-height">
            <div class="col-xs-10 col-md-8 col-lg-8">

              <svg id="hero-unit__typography" viewBox="0 0 722 106"></svg>

              <h1 class="hidden">Robin Bastien, Front-End Integrator</h1>

              <div class="hero-unit--descriptor animation animation--fadeIn">
                <h2 class="hero-unit--subheading">I build websites &amp; apps</h2>

                <p><span class="icon icon--scroll">
                  <span class="icon--scroll__mouse">
                    <span class="animation animation--mouse">
                    </span>
                  </span>
                </span></p>
              </div>

            </div>


          </div><!--.row-->
   

      </section><!--.hero-unit-->
      <section class="text-image" id="about">
          <div class="row middle-md">
            <div class="col-xs-12 col-md-6 last-md">
                <div class="text-image--photo">
                    <img src="assets/images/avatar-sitting.jpg" class="image--cover" alt="Just looking around">
                </div>
            </div>
            <div class="col-xs-12 col-md-6 first-md">
              <div class="text-image--content">
                <h2>About Me</h2>
                <p>I'm currently on the path to become a full-stack developer — using tools such as Laravel, node, and Vue.JS to power my applications.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      
{% include footer.html %}